extends ../layouts/layout

block head
  title Добавить заявление
  link(href='/css/user/add.css', rel='stylesheet')

block body
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li
            a(href='/statements') Мои заявления
          li.active
            a(href='/statements/add') Добавить заявление
          li
            a(href='/profile') Профиль
  .container(align="right")
    p Начальнику Центрального РУВД
    p г.Харькова Пупкину В.В.,
    p г.Харьков, ул. Артёма, д. 14,
    p от #{surname} #{name} #{patronymic}, прож:
    p #{address}
    p тел. в г. Харькове: #{tel}
  .container(align="center")
    p Заявление
    form(action="/statements/add", method="POST")
      textarea.form-control(name="text",required)
      br
      button.btn.btn-success(type="submit") Добавить
  include ../layouts/scripts
  script(src="/js/user/add.js")